@media only screen and (max-width: 1050px) {
    #hero_page {
        grid-template-columns: 2fr .5fr;
    }
    #hero-text {
        margin-top: 8rem;
        padding: 0 4rem 0rem 2rem;
    }
    #hero-photos {
        right: 2rem;
    }
    #logo {
        grid-column: 1 / 2;
        margin-left: 2rem;
    }

    #navbar {
        grid-column: 2 / 4;
        margin-left: 1rem;
        justify-content: space-between;
    }
    
    #screenshots-images img {
        max-width: 80%;
    }
    .team-card h4 {
        margin: 1rem 0 .2rem;
    }
    .team-card p {
        margin-bottom: 1rem;
    }
    #map_cards_container {
        max-width: 90vw;
    }
    #footer-buttons {
        width: 70vw;
    }
    #footer-buttons input {
        padding: 0 1rem;
        width: 100%;
        height: 3rem;
    }
    #footer-buttons a:link,
    #footer-buttons a:visited {
        height: 3rem;
        display: flex;
    }
}

@media only screen and (max-width: 950px) {
    #features-card-container {
        max-width: 70vw;
        flex-direction: column;
    }
    #team-photos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        
    }
    .team-card {
        max-width: 50vw;
    }
   
    .team-img-container img {
        width: 100%;
    }
    #price-cards-container {
        max-width: 50vw;
        margin: 2rem auto 7rem;
        display: flex;
        flex-direction: column;
    }

    .card-price {
        width: 100%;
        text-align: center;
        padding: 2rem;
        margin: 1rem 0;
    }
    #top-price {
        transform: scaleY(1);
        box-shadow: none;
        padding: 2rem;
    }
    
    #icons-overview-section {
        margin: 0rem auto 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }
    
    .icon-card {
        width: 100%;
        padding: 1rem 0 0;
    }
        
    #map_cards_container {
        max-width: 95vw;
    }
}

@media only screen and (max-width: 900px) {
    nav {
        grid-template-columns: repeat(6 1fr) 2fr;
    }
    #logo {
        grid-column: 1/2;
        margin-left: .5rem;
    }
    #navbar {
        grid-column: 2 / 6;
        justify-content: space-around;
        margin: 0 .5rem;
    }
    #cta-nav-button:link,
    #cta-nav-button:visited {
        grid-column: 6/7;
        padding: .5rem 1rem;
        margin-right: 1rem;
    }
    .phone-text p {
        max-width: 100%;
    }
    #map_cards_container {
        max-width: 50vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .map_card:nth-child(2),
    .map_card:nth-child(3) {
        height: 80vh;
    }

    #screenshots-heading p, 
    #features-text,
    #price-heading p,
    #map-heading p {
        max-width: 70vw;
        margin: 1rem auto 3rem;
    }
    #footer-heading p,
    #team-heading p,
    #posts-heading p {
        max-width: 70vw;
    }     
    #how-it-works-text {
        padding: 5rem 0;
        width: 70vw;
    }
}

@media only screen and (max-width: 800px) {
    #hero-photos {
        right: 0rem;
    }

    #navbar {
        grid-column: 2 / 7;
    }
    #cta-nav-button:link,
    #cta-nav-button:visited {
        display: none;
    }
    #posts-cards-container {
        flex-direction: column;
        max-width: 80vw;
        margin: 0 auto 2rem;
    }
    .card-posts {
        max-width: 100%;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 670px) {
    #container-phone-text {
        max-width: 100vw;
    }

    .phone-text p {
        max-width: 100%;
    }
    #hero-text {
        padding: 0 4rem 0rem 1rem;
    }
    #hero-photos {
        right: 0rem;
        top: 17rem;
    }
    #phone-small {
        height: 62%;
    }

    #phone-big {
        height: 40%;
    }
    #team-photos-container {
        display: flex;
        flex-direction: column;
    }
    #screenshots-links {
        margin: 0 auto 3rem;
    }

    #screenshots-links a:link,
    #screenshots-links a:visited {
        margin: 0 2rem 3rem 0;
    }
    .team-card {
        max-width: 70vw;
        margin: 1rem auto;
        
    }
    #price-cards-container {
        max-width: 70vw;
    }
    #get_app {
        padding: 3rem 1rem 0;
    }
    #map_cards_container {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 5rem 2rem;
        text-align: center;
        background: linear-gradient(0deg, var(--purple) 0%, #8E54E9 100%);
        transition: opacity  .4s,
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;
    }
    
    #navbar {
        flex-direction: column;    
    }
    
    #navbar a {
        margin-bottom: 2rem;
    }
        
    #hero_page {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }
    #hero-text {
        margin-top: 5rem;
        padding: 0 2rem 0rem 2rem;
    }
    
    #hero-text p {
        padding: 3rem 0;
    }
    #navbar {
        grid-column: 1 / 7;
        margin: 0;
    }
    
    #hero-text h1 {
        font-size: 2.5rem;
    }
    .cta-btn:link,
    .cta-btn:visited {
        padding: .5rem;
        margin: 0;
    }
    
    #screenshots-links a:link,
    #screenshots-links a:visited {
        margin-right: .5rem;
    }
    #features-card-container {
        max-width: 90vw;
    }
    
    .card-text-container {
        margin: 1rem 0 1rem 1rem;
    }
    
    #container-phone-text {
        flex-direction: column;
    }
    .phone-text hr {
        display: none;
    }
    footer {
        padding: 5rem 1rem;
    }
    #footer-heading p {
        max-width: 100%;
    }
    #footer-buttons {
        width: 60vw;
        flex-direction: column;
        margin: 1rem auto 2rem;
    }
    #footer-buttons a:link,
    #footer-buttons a:visited {
        margin: 1rem auto 0;
    }
}

@media only screen and (max-width: 500px) {
    #features-card-container {
        max-width: 97vw;
    }
        
    #hero-text {
        grid-column: 1 / -1;
    }
    
    #hero-photos {
        display: none;
    }
    #price-cards-container {
        max-width: 90vw;
    }
    #map_cards_container {
        max-width: 85vw;
    }
}

@media only screen and (max-width: 400px) {
    .features-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
        margin: 0 1rem 5rem;
        overflow: hidden;
    }
    .features-card-container {
        height: 7rem;
        width: 7rem;
        overflow: hidden;
        margin: 1rem 0 0;
    }
    .features-card img {
        clip-path: polygon(17% 0, 100% 0, 80% 100%, 0% 100%);
    }
    .card-text-container {
        margin: 1rem;
    }
    
    #hero-text {
        padding: 0 .5rem 0rem 1rem;
    }
    
    .cta-btn:link,
    .cta-btn:visited {
        padding: .5rem 0;
        margin: 0;
    }
}


