* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-text: #222;
    --normal-text: #4a4a4a;
    --light-text: #6e6e6e;
    --purple: #4776e6;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

#hero_page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.28)), url(images/1-2.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    height: 100vh;
}

nav {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: .5fr 1fr 2fr 1fr .5fr;
    align-items: center;
    height: 7rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5550;
    position: fixed;
}

#logo {
    grid-column: 2/3;
    align-content: flex-start;
}

#navbar {
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-around;
    font-size: .9rem;
    color: #fff;
}

#navbar a:link,
#navbar a:visited {
    text-decoration: none;
    color: #fff;
    transition: transform 5s;
}

#navbar a::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    transform: scale(0);
}

#navbar a:first-of-type::after {
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
    display: block;
    transform: scale(1);
}

#navbar a:hover::after,
#navbar a:active::after {
    transform: scale(1);
}

#cta-nav-button {
    grid-column: 4/6;
    text-align: center;
    align-content: center;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: .5rem 2rem;
    margin: auto;
    color: #fff;
}

#hero-text {
    grid-column: 1/2;
    margin-top: 10rem;
    padding: 0 0 2rem 8rem;
}

#hero-text h1 {
    font-size: 3.5rem;
    font-weight: 500;
}

h1 span {
    font-weight: 700;
}

#hero-text p {
    padding: 2rem 0;
    text-align: left;
}

#hero-btn-container {
    width: 100%;
    text-align: left;
}

.cta-btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff; 
    text-transform: uppercase;
    margin: 0 1rem;
    transition: all .3s;
    cursor: pointer;
}

.cta-btn:hover {
    background: #fff;
    color: transparent;
}

#cta-text-button {
    background: #fff;
    color: var(--heading-text);
    margin: 0;
}

#cta-text-button:hover {
    background: transparent;
    color: #fff;
}

#hero-photos {
    position: absolute;
    top: 7rem;
    right: 5rem;
    height: 90%;
}

#phone-small {
    height: 90%;
}

#phone-big {
    height: 70%;
    position: absolute;
    top: 7rem;
}


/*************** overview section *************/

#overview-section {
    color: var(--normal-text);
    font-family: 'Roboto';
}

#overview-title {
    width: 50%;
    display: block;
    margin: auto;
    
}

#overview-title h2 {
    text-align: center;
    color: var(--heading-text);
    margin: 3rem 0 1rem;
    font-family: 'Montserrat';
}

#line-image {
    display: block;
    margin: 0 auto 2rem;
}

#overview-title p {
    text-align: center;
}

#icons-overview-section {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}

.icon-card {
    margin: 1rem;
    text-align: center;
    padding: 4rem 1rem;
    transition: all .3s;
}

.icon-card:hover {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.overview-icon {
    font-size: 3rem;
    color: var(--purple);
}

.overview-icon::after {
    content: '';
    height: 2px;
    width: 50%;
    background: var(--purple);
    display: block;
    margin: 1rem auto;
}

.icon-card h3 {
    text-transform: uppercase;
    margin: 1rem;
    font-family: 'Montserrat';
}

#how-it-works {
    background-image: linear-gradient(90deg, #4776e6 0%, #8E54E9 100%);
}


/*********** how it works **************/

#how-it-works-text {
    text-align: center;
    display: block;
    margin: auto;
    padding: 5rem;
    width: 65%;
    color: #fff;
}

#how-it-works-text h2 {
    text-transform: uppercase;
}

#how-it-works-text img {
    margin: 1rem;
}

#phones {
    display: flex;
    width: 80vw;
    margin: auto;
}

.phone-card {
    display: flex;
    flex-direction: column;
    margin: auto 2rem;  
}

#container-phone-text {
    display: flex;
    width: 80vw;
    margin: auto;
}

.phone-text {
    text-align: center;
    display: block;
    padding: 1rem;
    margin: 1rem;
    color: #fff;
    font-family: 'Roboto';
}

.phone-text h3 {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1.5rem 0 0;
}

.phone-text h3::after {
    content: '';
    height: 2px;
    width: 10%;
    background: #fff;
    display: block;
    margin: 1rem auto;
}

.phone-text p {
    max-width: 70%;
    margin: auto;
    color: rgba(255, 255, 255, 0.77);
}












